rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write only their own data.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      // Allow a user to create their own user document.
      allow create: if request.auth != null && request.auth.uid == userId;
      // Allow any authenticated user to list documents for user count on admin page.
      allow list: if request.auth != null;
       // Prevent users from deleting their own accounts from the client.
      allow delete: if false;
    }
  }
}
